version: 2.1

commands:
  bundle_install:
    parameters:
      cache_key_prefix:
        type: string
        default: "v1"

    steps:
      - restore_cache:
          keys:
            - << parameters.cache_key_prefix >>-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Gemfile.lock" }}-{{ .Branch }}
            - << parameters.cache_key_prefix >>-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Gemfile.lock" }}
            - << parameters.cache_key_prefix >>-{{ .Environment.CIRCLE_JOB }}
            - << parameters.cache_key_prefix >>

      - run:
          name: bundle install
          command: |
            bundle config set --local path vendor/bundle
            bundle config set --local without development
            bundle config set --local clean 'true'
            bundle install --jobs=4 --retry 4

      - run:
          name: restore-bundled-with
          command: |
            gem install git --version 1.7.0 --no-document
            gem install restore_bundled_with --no-document
            restore-bundled-with

      - save_cache:
          key: << parameters.cache_key_prefix >>-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Gemfile.lock" }}-{{ .Branch }}
          paths:
            - vendor/bundle

.default: &default
  docker:
    - image: cimg/ruby:4.0

jobs:
  today_anime:
    <<: *default

    parameters:
      slack_channel:
        type: string
        default: ""
    environment:
      SLACK_CHANNEL: "<< parameters.slack_channel >>"
      BUNDLE_PATH__SYSTEM: "false"
    working_directory: ~/app
    steps:
      - checkout
      - bundle_install

      - run: bundle exec rake today_anime

  anime_movie:
    <<: *default

    parameters:
      slack_channel:
        type: string
        default: ""
    environment:
      SLACK_CHANNEL: "<< parameters.slack_channel >>"
      BUNDLE_PATH__SYSTEM: "false"
    working_directory: ~/app
    steps:
      - checkout
      - bundle_install

      - run: bundle exec rake anime_movie

workflows:
  version: 2

  build:
    jobs:
      - today_anime:
          slack_channel: "slack_sandbox"
      - anime_movie:
          slack_channel: "slack_sandbox"

  weekday_scheduler:
    triggers:
      - schedule:
          cron: "0 8 * * 1-5" # JST 17:00 (Mon-Fri)
          filters:
            branches:
              only: master
    jobs:
      - today_anime

  holiday_scheduler:
    triggers:
      - schedule:
          cron: "0 23 * * 5-6" # JST 8:00 (Sun,Sat)
          filters:
            branches:
              only: master
    jobs:
      - today_anime

  weekly_scheduler:
    triggers:
      - schedule:
          cron: "0 8 * * 4" # JST 17:00 (Thu)
          filters:
            branches:
              only: master
    jobs:
      - anime_movie
